/* Contenedor principal */
.container {
  max-width: 1500px;
  min-height: 700px;
  margin: 30px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #E0E0E0; /* Gris claro */
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.container h1,
.container h2,
.container h3 {
  text-align: center;
}

/* Opciones de Construcción */
.options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}
.option {
  width: 180px;
  text-align: center;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s;
  padding: 10px;
  background-color: #fff;
}
.option.selected,
.option:hover {
  border-color: #F2A007;
  background-color: #E0E0E0; /* Fondo gris claro al pasar el ratón */
}
.option img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
}
.option p {
  margin-top: 8px;
  font-weight: bold;
  color: #333;
}

/* Secciones de inputs */
.area-section,
.ciudad-section {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.area-section label,
.ciudad-section label {
  font-size: 16px;
  color: #333;
}

/* Inputs y botones */
input[type="number"],
select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #F2A007;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #D18D05; /* Un tono un poco más oscuro de F2A007 */
}