body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Fondo blanco */
  color: #333; /* Texto oscuro para contraste */
}
  
.navbar {
  background-color: #424242; /* Gris oscuro para contrastar con el logo naranja */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.navbar .logo img {
  max-height: 50px;
}
  
.navbar .menu a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}
.navbar .menu a:hover {
  text-decoration: underline;
}
.navbar .user img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}